[submodule "joblish-frontend"]
	path = joblish-frontend
	url = git@github.com:bogdaniordan/joblish-frontend.git
[submodule "travely-backend"]
	path = travely-backend
	url = git@github.com:bogdaniordan/travely-backend.git
[submodule "joblish-companies-frontend"]
	path = joblish-companies-frontend
	url = git@github.com:bogdaniordan/joblish-companies-frontend.git
